:root {
--base-font-color: rgb(131,148,150);
--secondary-font-color: rgb(88,110,117);
--emphasised-font: rgb(147,161,161);

--c-background-color: rgb(0, 43, 54);
--c-background-highlights: rgb(7, 54, 66);

--c-yellow: rgb(181,137,  0);
--c-orange: rgb(203, 75, 22);
--c-red: rgb(220, 50, 47);
--c-magenta: rgb(211, 54,130);
--c-violet: rgb(108,113,196);
--c-blue: rgb(38,139,210);
--c-cyan: rgb(42,161,152);
--c-green: rgb(133,153,0);
}

/*changing background color*/
body {
    background-color: var(--c-background-color);
}
header h1 {
    background-color: var(--c-background-highlights);
}
footer {
    background-color: var(--c-background-highlights);
}
/*changing text color*/
main {
    color: var(--base-font-color);
}
footer {
    color: var(--base-font-color);
}
header {
    color: var(--base-font-color);
}
/*change article links color*/
article a {
color: var(--c-magenta);
}
/*change link color when mouse hover over*/
a:hover {
color: var(--c-orange);
}
/*border in subsection */
.subsection {
    border: 3px solid var(--c-cyan);
}
/*header formatting*/
header {
text-align: center;
font-size: 150%;
color: var(--c-yellow);
}
/* navigation width */
.navigation {
    width: 100%;
}
/* unordered list formatting in navigation */
.navigation ul {
list-style-type: none;
display: flex; 
justify-content: space-evenly; 
align-items: center; 
padding: 0px
}
/* aside formatting*/
aside {
    color: var(--c-green);
}
aside a {
    color: var(--c-red);
}
aside a:hover {
    color: var(--c-blue);
}
/* pagewidth formatting*/
.pagewidth {
    max-width: 800px;
}
article h2, 
article h3 {
    padding-top: 50px;
}
/* main article formatting as flexbox */
.mainarticle {
    display: flex;
}
